{% extends "base.html" %} 
{% block title %}Invitation Email{% endblock %}
{%block content %} 
  {% if header_image_url %}
  <div class="illustration">
    <img src="{{ header_image_url }}" alt="Invitation" />
  </div>
  {% endif %}
  <div style="margin-bottom: 30px">
    <h1 style="color: {{ contrast_primary_color }};">New Invitation</h1>
    <p style="text-align: start">
      Hello{% if receiver_name %} {{ receiver_name }}{% else %} there{% endif %},
    </p>
    <p style="text-align: start">
      <b style="color: {{ primary_color }};">{{sender_name}}</b> has invited you to join the space
      <b>{{space_name}}</b> on {{ brand_name }} Platform.<br />By joining, you’ll
      get access to shared devices, dashboards, and resources for easier
      collaboration.
    </p>
    <p style="text-align: start">
      To accept the invitation, simply click the button below:
    </p>
    <p style="text-align: start">
      <a style="text-align: start; background-color: {{ primary_color }}; color: {{ contrast_primary_color }};"
        href="{{ invite_url }}"
        class="btn-invite"
        target="_blank">
        Accept Invitation
      </a>
    </p>
    <p style="text-align: start">
      Note: This invitation will expire in <b>7 days</b>.
    </p>
    <p style="text-align: start">
      Welcome you on board and look forward to working with you!
    </p>
    <p style="text-align: start"><b>{{ sender_from }}</b></p>
  </div>

  <p>
    If you did not initiate this request, please contact us at
    <a href="mailto:{{ sender_email }}" style="color: {{ primary_color }};">{{ sender_email }}</a>
  </p>
{% endblock %}
