{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
  {% if header_image_url %}
  <div class="illustration">
    <img src="{{ header_image_url }}" alt="Reset Password" />
  </div>
  {% endif %}
  <h1 style="color: {{ contrast_primary_color }};">Reset Password</h1>
  <p>
    Need to reset password? No problem.<br />
    Just click the button below.
  </p>
  <a href="{{ redirect_url }}"
    class="btn"
    style="background-color: {{ primary_color }}; color: {{ contrast_primary_color }};">
    Reset password
  </a>
  <p>
    If you did not initiate this request, please contact us at
    <a href="mailto:{{ sender_email }}" style="color: {{ primary_color }};">{{ sender_email }}</a>
  </p>
{% endblock %}
