{% extends "base.html" %}

{% block title %}Reset Password - SPACE·DF{% endblock %}

{% block content %}
    <div class="illustration">
      <img src="{{ host }}/static/images/forget_password.png"/>
    </div>
    <h1>Reset Password</h1>
    <p>Need to reset password? No problem.<br>Just click the button below</p>
    <a href="{{ redirect_url }}" class="btn">Reset password</a>
    <p>If you did not initiate this request, please contact us at 
      <a href="mailto:support@spacedf.com">support@spacedf.com</a>
    </p>
{% endblock %}