name: CI

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8==4.0.1
        pip install bandit==1.7.8
        pip install codespell==2.2.4
    - name: Run Flake8
      run: |
        flake8
    - name: Run Bandit
      run: |
        bandit -r .
    - name: Run Spell Check
      run: |
        codespell --skip="*.md,venv,migrations,*.pyc"
